
header {
    background-color:rgb(254, 194, 54); 
    height: 6em;
    border-bottom: 1px solid black;
    display: flex;
    position: sticky;
    top: 0;
    
}

 nav{
   display: flex;
   height: 6em;
   padding: 1.5em 1em 1.5em;
   margin: auto;
   gap: 39em;
}
.circle{

}

.img1{
    width: 12em;
}
.dium{
    font-family: "Clistoga";
    font-size: 2em;
}

.log{
    display: flex;
    gap: 0.5em;
}
.list li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1em;
    font-weight:450;
    
}
.wrap{
    display: flex;
    gap: 1.5em;
    
    

}

.list{
    display: flex;
    gap: 1.2em;
    padding: 1em 0 1em;
    
    
}
.btn{
    background-color: black;
    width: 6.5em;
    color: white;
    font-size: 1.1em;
    height: 2em;
    border-radius: 10em;
    margin-top: 0.5em;
}
.bget{
    display: none;
}


@media screen and (max-width:500px){
    .list{
        display: none;
    }
    header{
        display: flex;
        top: 0;
    }
    nav{
        display: flex;
        gap: 4em;
        height: 1em;  
    }
    
    .btn{
        width: 5.5em;
        border: none;
        margin-top: -0.8em;
        
    }
    .img1{
        width: 11em;
    }
    header{
        height: 4.5em;
        padding: -3em  ;
    }
    .circle{
       margin-top: -1.5em; 
    }
}

@media screen and (max-width:450px){
    .list{
        display: none;
    }
    header{
        display: flex;
        top: 0;
    }
    nav{
        display: flex;
        gap: 4em;
        height: 1em;  
    }
    
    .btn{
        width: 5.5em;
        border: none;
        margin-top: -0.8em;
        
    }
    .img1{
        width: 11em;
    }
    header{
        height: 4.5em;
        padding: -3em  ;
    }
    .circle{
       margin-top: -1.5em; 
    }
}
@media screen and (max-width:375px){
    .list{
        display: none;
    }
    header{
        display: flex;
        top: 0;
    }
    nav{
        display: flex;
        gap: 4em;
        height: 1em;  
    }
    
    .btn{
        width: 5.5em;
        border: none;
        margin-top: -0.8em;
        
    }
    .img1{
        width: 11em;
    }
    header{
        height: 4.5em;
        padding: -3em  ;
    }
    .circle{
       margin-top: -1.5em; 
    }
    
}
    