
header {
    background-color:rgb(254, 194, 54); 
    height: 6em;
    border-bottom: 1px solid black;
    display: flex;
    position: sticky;
    top: 0;
    
}

 nav{
   display: flex;
   height: 6em;
   border: 1px solid;
   padding: 1.5 1em 1.5;
   margin: auto;
   gap: 39em;
}
.circle{

}

.img1{
    width: 12em;
}
.dium{
    font-family: "Clistoga";
    font-size: 2em;
}

.log{
    display: flex;
    gap: 0.5em;
}
.list li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1em;
    font-weight:450;
    
}
.wrap{
    display: flex;
    gap: 1.5em;
    
    

}

.list{
    display: flex;
    gap: 1.2em;
    padding: 1em 0 1em;
    
    
}
.btn{
    background-color: black;
    width: 6.5em;
    color: white;
    font-size: 1.1em;
    height: 2em;
    border-radius: 10em;
    margin-top: 0.5em;
    
    
}
    