
header {
    background-color:rgb(254, 194, 54); 
    height: 6em;
    border-bottom: 1px solid black;
}
nav{
   display: flex;
   gap: 12em;
   padding: 2em 8em 2em 8em;
}

.img1{
    width: 12em;
}
.dium{
    font-family: "Clistoga";
    font-size: 2em;
}

.log{
    display: flex;
    gap: 0.5em;
}
.list li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1em;
    font-weight:450;
    
}
.wrap{
    display: flex;
    margin-left: 20em;
    gap: 3em;

}

.list{
    display: flex;
    gap: 1.2em;
    padding: 1em 0 1em;
    
    
}
.btn{
    background-color: black;
    margin-left: 10px;
    width: 7em;
    color: white;
    font-size: 1.1em;
    height: 2.5em;
    border-radius: 10em;
    
    
}
    