.hero-section .curios{
    background-color:rgb(254, 194, 54);
    height: 500px;
    border-bottom: 1px solid black;
}
h1{
    font-size: 5em;
    font-family: "Spectral";
    font-weight: 400;
    font-size: 8em;
}
.para{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    font-weight: 450;
}
.caption{
    padding: 1em 7em;
}
.bttn{
    width: 11em;
    height: 2.2em;
    font-size: 1.3em;
    margin-left: 5.9em;
    margin-top: 2em;
    background-color: black;
    border: hidden;
    color: white;
    border-radius: 5em;
}