.hero-section .curios{
    background-color:rgb(254, 194, 54);
    height: 200px;
}
h1{
    font-size: 5em;
    font-family: "Oranienbaum";
}
.para{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}