.hero-section .curios{
    background-color:rgb(254, 194, 54);
    height: 550px;
    border-bottom: 1px solid black;
}
h2{
    font-size: 0.5em;
    font-family: "Spectral";
    font-weight: 350;
    font-size: 8em;
}
.para{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    font-weight: 450;
}
.caption{
    padding: 5em 4em 5em;
}
.bttn{
    width: 11em;
    height: 2.2em;
    font-size: 1.3em;
    margin-left: 3em;
    margin-top: -1em;
    background-color: black;
    border: hidden;
    color: white;
    border-radius: 5em;
}
@media screen and (max-width:375px){
    h2{
        font-size: 5em;
        
    }
    .discover{
        font-size: 0.7em;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .bttn{
        width: 9.5em;
        height: 2em;
        margin-top: -0.9em;
    }
    .buttom-col{
        display: flex;
        flex-direction: column;
    }
    .buttom-coll{
        display: flex;
        flex-direction: column;
    }
    
}