@import url("header.css");
@import url("hero-section.css");
@import url("trend-medium.css");
@import url("Main-hero.css");

*{
    text-decoration: none;
    box-sizing: border-box;
    color-scheme: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}