.woma{
    display: flex;
}
.craw{
    margin-left: 0.4em;
}
.internal-medium{
    margin-top: 5em;
    display: flex;
    gap: 7em;
    padding: 3em 7em 3em 7em;
}
.ob{
    width: 0.9em;
    height: 1em;
    margin-top: 0.5em;
    margin-left: 0.3em;
}.loq{
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.dat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 460;
    font-size: 1.01em;
}
.dati{
    display: flex;
}
.dti{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
.heat{
    width: 3.5em;
    height: 2em;
    color: grey;
    margin-left: 1em;
    border: none;
    border-radius: 40%;
}
.Eter{
    display: flex;
}
.femi{
    width: 6.3em;
    margin-left: 1em;
    height: 2.2em;
    border-radius: 40px;
    border: none;
    color: gray;
}
.venes{
    display: flex;
    margin-top: 2em;
}
.ux{
    width: 2.9em;
    height: 2em;
    border: none;
    border-radius: 30px;
    margin-left: 1em;
}
.lang{
    width: 13em;
    height: 2em;
    color: grey;
    border-radius: 12px;
    border: none;
    margin-left: 1em;
}
.culture{
    width: 11em;
    height: 2em;
    color: gray;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.ps{
    width: 7em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.bar{
    width: 3.6em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.lapto-woman{
    margin-left: 3em;
}
.colo-woman{
    margin-left: 2.5em;
}
.draw-woman{
    margin-left: 3.7em;
}
.vis-woman{
    margin-left: 3.6em;
}
.blk-bg{
    width: 13em;
    height: 9em;
}
.colo-wom{
    width: 13em;
    height: 9em;
}
.lapto{
    width: 13em;
    height: 9em;
}
.draw{
    width: 13em;
    height: 9em;
}
.vis{
    width: 13em;
    height: 9em;
}
.boy{
    width: 13em;
    height: 9em;
}

.blk-woman{
    margin-left: 1.5em;
    
}
.transi-woman{
    margin-left: 2em;
}
.boy-woman{
    margin-left: 6.6em;
}
.hap-woman{
    margin-left: 2.4em;
}
.bie-woman{
    margin-left: 16.5em;
}
.row1{
    display: flex;
    gap: 0.5em;
    margin-top: 1em;

}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.row1  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 8em;
    padding: 0.6em;
    
}
.row1 li a{
    margin-left: 0.5em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    
}
.row2{
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    

}
.row2  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 10em
    
}
.row2 li a{
    margin-left: 0.6em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;

    
}
.row2 .self{
    padding: 0.5em;
}
.row2 .writ{
    width: 5em;
    padding: 0.5em;
    
    
}
.row2 .rela{
    padding: 0.5em;
    width: 9em;
    
}
.row3{
    display: flex;
    margin-top: 0.5em;
    gap: 0.5em;
}
.row3  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 10em
    
}
.row3 li a{
    margin-left: 0.6em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;

    
}
.row3 .self{
    padding: 0.5em;
}
.row3 .pro{
    width: 8em;
    padding: 0.5em;
}
.row3 .poli{
    width: 6em;
    padding: 0.5em;
}
.row4{
    margin-top: 2em;
}
.row4 li a{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 500;
}
.topics{
    border-bottom: 1px solid rgb(233, 231, 231);
    height: 230px;
}
.row5{
    display: flex;
    gap: 2em;
}
.footer{
    margin-top: 2em;
}
.row5 li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;

    
}
.row5 li{
    font-weight: 470;
    font-size: 1em;
}
.row6{
    display: flex;
    gap: 2em;
    margin-top: 1em;
}
.row6 li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.row6 li{
    font-weight: 470;
    font-size: 1em;
}