.woma{
    display: flex;
}
.craw{
    margin-left: 0.4em;
}
.internal-medium{
    margin-top: 5em;
}
.ob{
    width: 0.9em;
    height: 1em;
    margin-top: 0.5em;
    margin-left: 0.3em;
}.loq{
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.dat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 460;
    font-size: 1.01em;
}
.dati{
    display: flex;
}
.dti{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
.heat{
    width: 3.5em;
    height: 2em;
    color: grey;
    margin-left: 1em;
    border: none;
    border-radius: 40%;
}
.Eter{
    display: flex;
}
.femi{
    width: 6.3em;
    margin-left: 1em;
    height: 2.2em;
    border-radius: 40px;
    border: none;
    color: gray;
}
.venes{
    display: flex;
    margin-top: 2em;
}
.ux{
    width: 2.9em;
    height: 2em;
    border: none;
    border-radius: 30px;
    margin-left: 1em;
}
.lang{
    width: 13em;
    height: 2em;
    color: grey;
    border-radius: 12px;
    border: none;
    margin-left: 1em;
}
.culture{
    width: 11em;
    height: 2em;
    color: gray;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.ps{
    width: 7em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.bar{
    width: 3.6em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.lapto-woman{
    margin-left: 3em;
}
.colo-woman{
    margin-left: 2.5em;
}
.draw-woman{
    margin-left: 3.7em;
}
.vis-woman{
    margin-left: 3.6em;
}
.blk-bg{
    width: 14em;
    height: 10em;
}
.colo-wom{
    width: 14em;
    height: 10em;
}
.lapto{
    width: 14em;
    height: 10em;
}
.draw{
    width: 14em;
    height: 10em;
}
.vis{
    width: 14em;
    height: 10em;
}
.boy{
    width: 14em;
    height: 10em;
}
.blk-woman{
    margin-left: 1.5em;
    
}
.transi-woman{
    margin-left: 2em;
}
.boy-woman{
    margin-left: 6.6em;
}
.hap-woman{
    margin-left: 2.4em;
}
.bie-woman{
    margin-left: 16.5em;
}