.woma{
    display: flex;
}
.big-medium{
   height: 600px;
}
.craw{
    margin-left: 0.4em;
}
.internal-medium{
    margin-top: 5em;
    display: flex;
    gap: 7em;
    padding: 3em 4.5em 3em 4.5em;
}
.ob{
    width: 0.9em;
    height: 1em;
    margin-top: 0.5em;
    margin-left: 0.3em;
}.loq{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.dat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 460;
    font-size: 1.01em;
}
.dati{
    display: flex;
}
.dti{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
.heat{
    width: 3.5em;
    height: 2em;
    color: grey;
    margin-left: 1em;
    border: none;
    border-radius: 40%;
}
.Eter{
    display: flex;
    gap: 2em;
}
.femi{
    width: 6.3em;
    margin-left: 1em;
    height: 2.2em;
    border-radius: 40px;
    border: none;
    color: gray;
}
.venes{
    display: flex;
    margin-top: 1em;
    gap: 1.7em;
}
.pang{
    display: flex;
    gap: 4.7em;
    margin-top: 1em;
}
.vn{
    display: flex;
    gap: 4.5em;
    margin-top: 1em;
}
.sax{
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}
.vene{
    display: flex;
    gap: 2em;
    margin-top: 1em;
}
.vens{
    display: flex;
    gap: 7.3em;
    margin-top: 2em;
}
.vs{
    display: flex;
    gap: 1.8em;
    margin-top: 1em;
}
.ves{
    display: flex;
    gap: 3em;
    margin-top: 1em;
}
.ne{
    display: flex;
    gap: 16.5em;
    margin-top: 1em;
}
.ux{
    width: 2.9em;
    height: 2em;
    border: none;
    border-radius: 30px;
    margin-left: 1em;
}
.lang{
    width: 13em;
    height: 2em;
    color: grey;
    border-radius: 12px;
    border: none;
    margin-left: 1em;
}
.culture{
    width: 11em;
    height: 2em;
    color: gray;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.ps{
    width: 7em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}
.bar{
    width: 3.6em;
    height: 2em;
    color: grey;
    border: none;
    border-radius: 12px;
    margin-left: 1em;
}

.blk-bg{
    width: 13em;
    height: 9em;
}
.colo-wom{
    width: 13em;
    height: 9em;
}
.lapto{
    width: 13em;
    height: 9em;
}
.draw{
    width: 13em;
    height: 9em;
}
.vis{
    width: 13em;
    height: 9em;
}
.boy{
    width: 13em;
    height: 9em;
}


.row1{
    display: flex;
    gap: 0.5em;
    margin-top: 1em;



}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.row1  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 8em;
    padding: 0.6em;
    
}
.row1 li a{
    margin-left: 0.5em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    
}
.row2{
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    

}
.row2  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 10em
    
}
.row2 li a{
    margin-left: 0.6em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;

    
}
.row2 .self{
    padding: 0.5em;
}
.row2 .writ{
    width: 5em;
    padding: 0.5em;
    
    
}
.row2 .rela{
    padding: 0.5em;
    width: 9em;
    
}
.row3{
    display: flex;
    margin-top: 0.5em;
    gap: 0.5em;
}
.row3  li{
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 20px;
    width: 10em
    
}
.row3 li a{
    margin-left: 0.6em;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;

    
}
.row3 .self{
    padding: 0.5em;
}
.row3 .pro{
    width: 8em;
    padding: 0.5em;
}
.row3 .poli{
    width: 6em;
    padding: 0.5em;
}
.row4{
    margin-top: 2em;
}
.row4 li a{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 500;
}
.topics{
    border-bottom: 1px solid rgb(233, 231, 231);
    height: 230px;
}
.row5{
    display: flex;
    gap: 2em;
}
.footer{
    margin-top: 2em;
}
.row5 li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;

    
}
.row5 li{
    font-weight: 470;
    font-size: 1em;
}
.row6{
    display: flex;
    gap: 2em;
    margin-top: 1em;
}
.row6 li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.row6 li{
    font-weight: 470;
    font-size: 1em;
}
.aa{
    display: flex;
}
.bb{
    display: flex;
}
@media screen and (max-width:375px){
     .big-medium{
        height: 1500px;
        margin-top: -1em;
        
     }
     
     .internal-medium{
        margin-top: 5em;
     }
     .dat{
        display: none;
     }
     .woma{
        display: flex;
        flex-direction: column;
        
     }
     .craw{
        font-size: 0.8em;
        font-weight: 500;
        margin-top: 0.4em;
     }
     .cra{
        font-size: 0.8em;
        font-weight: 500;
        margin-left: 2em;
        margin-top: -0.9em;
     }
     .loq{
        font-size: 1em;
        
        width: 13em;
        
     }
     .colo-wom{
        width: 6em;
        height: 6em;
     }
     .lapto{
        width: 6em;
        height: 6em;
     }
     .draw{
        width: 6em;
        height: 6em;
     }
     .vis{
        width: 6em;
        height: 6em;
     }
     .blk-bg{
        width: 6em;
        height: 6em;
     }
     .transist{
        width: 6em;
        height: 6em;
     }
     .boy{
        width: 6.5em;
        height: 6em;
     }
     .internal-medium{
        padding: 0.5em 1.5em 0.5em 1.5em;
     }
     .Eter{
        display: flex;
        gap: 1.3em;
     }
     .img2{
        width: 1.2em;
        height: 1.2em;
     }
     .heat{
        display: none;
     }
     .woma{
        display: flex;
        flex-direction: row;
     }
     .femi{
        display: none;
     }
     .venes{
        gap: 1.4em;
     }
     .pang{
        gap: 1.4em;
     }
     .vn{
        gap: 1.4em;
     }
     .sax{
        gap: 1.4em;
     }
     .vs{
        gap: 1.4em;
     }
     .ux{
        display: none;
     }
     .craw{
        width: 10em;
     }
     .lang{
        display: none;
     }
     .vens{
        gap: 1.5em;
     }
     .boy{
        width: 6em;
        height: 6em;
        
     }
     .culture{
        display: none;
     }
     .ps{
        display: none;
     }
     .ves{
        gap: 1.5em;
     }
     .bar{
        display: none;
     }
     .ne{
        gap: 1.5em;
     }
     .internal-medium{
        display: flex;
        flex-direction: column-reverse;
        
     }
     .row5{
        display: flex;
        gap: 1em;
     }
     .row6{
        display: flex;
        gap: 1em;
     }
     .row1 li{
        height: 2.5em;
     }
     .row1{
        display: flex;
        flex-wrap: wrap;
     }
     .row2{
        height: 2.5em;
     }
     .row2{
        display: flex;
        flex-wrap: wrap;
     }
     .row3{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.2em;
     }
     h3{
        font-size: 1em;
     }
     .footer{
        display: none;
     }
     .topics{
        height: 295px;
     }
     
     
}