.arrow{
    width: 1.3em;
    height: 1.2em;
    border: 1px solid black;
    border-radius: 50%;
    
}
.middle-container{
    height: 400px;
    border-bottom: 1px solid rgb(244, 240, 240);
    
    
}
.inner-container{
    padding: 3em 4em 3em 4em;
}

.hechfor{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-col{
    display: flex;
    gap: 1em;
}
.buttom-col{
    display: flex;
}
.buttom-coll{
    display: flex;
    gap: 6em;
    margin-top: 2em;
}
.img2{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-top: 0.4em;
}
.zero1{
    margin-top: 0.3em;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(238, 235, 235);
    
}
.num{
    margin-top: -1em;
}
.Est{
    display: flex;
    gap: 0.5em;
}
.Ester{
    display: flex;
    gap: 2em;
    
}
.Estter{
    display: flex;
    gap: 2em;
    margin-left: 2.5em;
    
}
.Et{
    display: flex;
    gap: 2em;
}
.Eter{
    display: flex;
    gap: 2em;
}
.craw{
    padding: 0.2em 0 0.2em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.epiloq{
    margin-left: -1.7em;
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.oba{
    width: 0.9em;
    height: 1em;
    margin-top: 0.5em;
}
.barak{
    display: flex;
}
.date{
    margin-left: -1.9em;
    margin-top: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    
}
.buttom-col{
    margin-top: 1em;
    display: flex;
    gap: 3em;
}
.micro{
    display: flex;
    
}
.hil{
    display: flex;
    
}
.Er{
    display: flex;
    gap: 2em;

}
.miro{
    display: flex;
}
.Ev2{
    display: flex;
    
}
.size{
    display: flex;
    
}
.ter{
    display: flex;
    gap: 2em;
    
}



@media screen and (max-width:375px){
    .middle-container{
        height: 1050px;
    }
    .inner-container{
        padding: 2em 1.8em 1em;
        margin-top: 2em;
        
    }
    
    .buttom-col{
        margin-top: 3.8em;
    }
    .top-col{
        margin-top: 0.7em;
    }
    
    .Estter{
        margin-left: 0.1em;
        margin-top: 2em;
    }
    .Est{
        line-height: 1.2;
        margin-left: 2em;
    }
    .Et{
        margin-top: 2em;
    }
    .Er{
        margin-top: 2em;
    }
    .Ester{
        margin-top: -2.9em;
        
    }
    .Eter{
        margin-top: 2em;
        
    }
    .Es{
        margin-top: -2em;
        gap: 2em;
    }
    
    .micro{
        margin-left: 2em;
    }
    .hil{
        margin-left: 2em;
    }
    .miro{
        margin-left: 2em;
    }
    .Ev2{
        margin-left: 2em;
    }
    .size{
        margin-left: 2.5em;
    }
    .ter{
        margin-top: 2em;
    }
    
    
}
    